* {
    outline: 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #666;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
p {
    font-size: 16px;
    color: #666;
    font-weight: 400;
    line-height: 22px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #202020;
    margin-top: 0;
    font-weight: 700;
}
h4 {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 400;
}
h5 {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
.color-bar {
    width: 100%;
}
.top-fixed {
    position: fixed;
    z-index: 2000;
    top: 0px;
}
.menuBar-fix {
    margin-top: 52px;
}
.bg-color-1 {
    background-color: #f0c24b!important;
}
.bg-color-2 {
    background-color: #b5d56a!important;
}
.bg-color-3 {
    background-color: #ea7066!important;
}
.bg-color-4 {
    background-color: #84bed6!important;
}
.bg-color-5 {
    background-color: #a597e7!important;
}
.bg-color-6 {
    background-color: #ea77ad!important;
}
.top-info-bar {
    padding: 15px 0 12px 0;
    display: block;
    width: 100%;
    z-index: 1000;
    position: relative;
    top: 3px;
    transition: height .15s ease;
    height: 53px;
    background-color: #2f3c43;
    position: fixed;
}
.list-inline {
    text-align:center;
    margin-bottom:20px
}
.support li a {
    font-size: 1.1em;
    color: #FFF;
}
.functionList > li {
    color: rgb(255, 255, 255);
    float: left;
    font-size: 1.1em;
}
.functionList > li i {
    width: 21px;
    height: 21px;
    display: inline-block;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 21px;
}
.select-language {
    background: #2f3c43;
    border: 1px solid #2f3c43;
}
.functionList>li a{
    color: rgb(255, 255, 255);
    font-size: 1em;
    padding-right: 5px;
}
.button-search {
    margin-top: -5px !important;
}
.img-logo {
    height: 6em;
    width: 20em;
    margin-left: 5em;
}
.img-logo img {
    height: 6em;
    width: 20em;
}
.clr {
    clear: both;
}
.menuBar-header {
    float: right !important;
}
.category-menu > li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.category-menu > li a {
    text-align: center;
    display: block;
}
.category-menu > li a span{
    line-height: 20px;
}
.category-menu > li i {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    border-radius: 100%;
    display: block;
    color: #fff;
    font-size: 20px;
    margin: 0 20px 5px;
}
.orange-background {
    background-color: #f0c24b!important;
}
.orange-text {
    color: #f0c24b!important;
}
.pink-background {
    background-color: #c51185!important;
}
.pink-text {
    color: #c51185!important;
}
.blue-background {
    background-color: #1193c5!important;
}
.blue-text {
    color: #1193c5!important;
}
.green-background {
    background-color: #3dc511!important;
}
.green-text {
    color: #3dc511!important;
}
.category {
    position: relative;
}
.category-subcategory {
    margin-top: 10px;
    display: none;
    position: absolute;
    border-top: 5px solid #2d93c5;
    border-radius: 5px;
}
.category-subcategory li {
    list-style-type: none;
    background: #f8f8f8;
}
.category-subcategory li > a{
    display: block;
    line-height: 20px;
    color: #2d93c5;
    padding: 5px 20px;
    width: 15em;
}
.category-subcategory li > a:hover{
    background: #2d93c5;
    color: #fff;
    text-decoration: none;
}

.btn-magin {
    margin: 10px 0;
}

.margin-top-50px {
    margin-top: 50px;
}

.margin-bottom-50px {
    margin-bottom: 50px;
}


.btn-search {
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc !important;
    height: 36px !important;
    line-height: 16px;
}
.li-login {
    padding-left: 20px !important;
}
.padding-10 {
    padding: 0px 10px 20px;
}
li.top-user {
    /*display:  inline-block;*/
    text-align:  center;
    padding: 15px 50px;
}

li.top-user-small {
    padding: 7px 30px;
}

.follow-users {
    text-align: center;
}

.top-user img.img-circle {
    height: 150px;
}

.top-user img.img-circle-small{
    height: 90px;
}

h3.name-small > a {
    font-size: 15px !important;
}

img.top-user a {
    color: #333;
    font-size: 20px;
}

.top-user a.btn-follow {
    display:  inline-block;
    background: green;
    padding: 5px;
    color:  #fff;
    border-radius: 10px;
}

.top-user a.btn-follow-small {
    background: red;
}

.background-user {
    height: 350px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.background-user .bg-img {
    width: 100%;
    height: 350px;
}

.avatar-user {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #8c8c8c;
    position: absolute;
    bottom: 85px;
    left: 100px;
}

.username-user {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #8c8c8c;
    position: absolute;
    bottom: 154px;
    left: 300px;
}
li.view-follow-more {
    display: none;
}

h3.h3-small {
    margin-bottom: 10px !important;
}

.img-border {
    border-radius: 20%;
}

/*==========FOOTER=============*/
.footer {
    background: #2A2A2A;
}

.footer .left-footer {
    float: left;
    width: 350px;
    margin: 30px 40px 10px 80px;
}

.footer .left-footer .logo-left-footer {
    width: 350px;
    height: 120px;
    background: #7F7F7F;
    margin-bottom: 20px;
}

.footer .left-footer h3 {
    color: #acacac;
    border-bottom: 1px solid #acacac;
    margin: 10px 60px;
    padding: 0px 2px 8px 42px;
    font-size: 18px;
}

.footer .left-footer .icon-left-footer {
    margin: 10px 93px;
}

.footer .left-footer .icon-left-footer a {
    margin: 0 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #acacac;
    border-radius: 50%;
    font-size: 20px;
    color: #acacac;
}

.footer .left-footer .icon-left-footer a:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.footer .center-footer {
    float: left;
    width: 250px;
    margin: 55px 70px 0 40px;
    padding-right: 30px;
}

.center-footer ul {
    margin-top: 10px;
    padding-left: 20px;
}

.center-footer ul li {
    height: 28px;
    line-height: 28px;
    list-style-type: square;
    color: #acacac;
    margin: 5px 0;
}

.footer .center-footer a {
    color: #acacac;
}

.center-footer ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.title-footer {
    color:  #acacac;
    height:  40px;
    line-height:  30px;
    border-bottom:  1px solid;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-size: 22px;
}

.footer .right-footer {
    float: left;
    width: 350px;
    margin: 55px 20px 10px 20px;
}

.footer .right-footer a {
    color: #acacac;
    display: block;
    margin: 14px 0;
}

.footer .right-footer a:hover {
    color: #fff;
}

.footer .right-footer a span {
    margin: 0 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    border: 1px solid #acacac;
    border-radius: 50%; 
    font-size: 16px;
    color: #acacac;
}

.footer .tail-footer {
    height: 40px;
    background-color: #141414;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    color: #7c7c7c;
}

/*====Login/Register====*/

.login-content {
    background: #00C6D7;
    position: relative;
    padding: 11em 0;
    width: 100%
}
.login-top {
    text-align: center;
    margin: 7em auto;
    background: #fff;
    padding: 2em 2em;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid rgba(213, 213, 214, 0.85);
    width: 35%;
    padding: 2em 2em;
    position: absolute;
    left: 33%;
    top: 13%;
}

.login-top h3{
    font-size: 9em;
    font-weight: bold;
    margin: 0;
    color: #052963;
}
.login-top h3 i{
    font-size: 113px;
    color: #00c6d7;
}
.login-top span {
  font-size: 1.5em;
  color:#333;
}
.login-top p{
    font-size: 0.95em;
    font-weight: 400;
    color: #777;
    margin: 10px 0;
}

.login input[type="email"],.login input[type="password"], .login input[type="text"]{
    width: 100%;
    padding: 0.9em 1em 0.9em 4em;
    color: #777;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    border: 1px solid #ddd;
    background: url("../images/icons.png") no-repeat 14px 17px;
    margin: 0.3em 0;
    font-family: 'Roboto', sans-serif;
}

.login input[type="password"]{
   background: url("../images/icons.png") no-repeat 13px -33px ;
}

.login input[type="text"] {
    background: url("../images/user-icon.png") no-repeat 9px 9px;
}

.submit {
  margin: 1em 0;
}

.login input[type="submit"]{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    border:2px solid #ea4c89;
    background: #ea4c89;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.login input[type="submit"]:hover{
  background:none;
  border:2px solid #ea4c89;
  color: #ea4c89;

}

.buttons {
    margin: 1em 0 0.5em 0;
}

.buttons ul{
    padding:0;
}

.buttons ul li {
    display: inline-block;
    width: 28%;
    float: left;
}

.buttons ul li.or{
    width: 7.6%;
    margin-top: 8px;
    color: #777;
}

.buttons ul li.lost {
    margin-right: 0;
    float: right;
}

/* Sweep To Right */
a.facebook-login {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #3b5998;
    width:100%;
    font-family: 'Roboto', sans-serif;
    padding:0.7em 1em;
    font-size: 1em;
    color: #fff;
}

a.facebook-login:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#354d7d;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.facebook-login:hover, a.facebook-login:focus, a.facebook-login:active {
    color: white;
}
a.facebook-login:hover:before, a.facebook-login:focus:before, a.facebook-login:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Sweep To Left */
a.twitter-login {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width:100%;
    padding:0.7em 1em;
    font-size: 1em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: #1ab2e8;

}

a.twitter-login:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1499c8;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.twitter-login:hover, a.twitter-login:focus, a.twitter-login:active {
    color: white;
}

a.twitter-login:hover:before, a.twitter-login:focus:before, a.twitter-login:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a.facebook-login {
    background-color: #3b5998;
    width: 100%;
    padding: 0.7em;
    text-align: center;
    font-size: 16px;
    display: block;
}

a.twitter-login {
    width: 100%;
    padding: 0.7em;
    text-align: center;
    font-size: 16px;
    background-color: #1ab2e8;
    display: block;
}

a.google-login {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width:100%;
    padding:0.7em 1em;
    font-size: 1em;
    color: #fff;
    background-color: #d80606;
    font-family: 'Roboto', sans-serif;
}

a.google-login:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a91616;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.google-login:hover:before, a.google-login:focus:before, a.google-login:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a.google-login {
    width: 100%;
    padding: 0.7em 0;
    text-align: center;
    font-size: 16px;
    display: block;
}

a.google-login:hover, a.facebook-login:hover, a.twitter-login:hover {
    text-decoration: none;
}

.fb-tw-gg-icon {
    line-height: 17px;
    font-weight: bold;
    font-size: 17px;
    margin-right: 5px;
}

.new {
    margin: 1em 0 0em 0;
}

.new p a,.new p.sign a,.new p.sign {
    color: #777;
    font-weight: 400;
    font-size: 1em;
}

.new p a:hover,.new p.sign a:hover {
    text-decoration: underline;
}

.new p.sign a, .new a {
    color: #00C6D7;
}

h2.inner-tittle.page {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -22%;
    left: 10%;
    font-size: 3em;
    color: #fff;
}

p.sign.up {
    text-align: center;
    float: none;
    padding: 0;
}

/*--/login--*/
.buttons.login ul li {
    display: inline-block;
    width: 33.3333%;
    margin-right: 0;
    float: left;
}

.checkbox11 {
    padding-left: 27px;
    font-size: 1em;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    color: #777;
}

.checkbox11:last-child {
    margin-bottom: 0;
}

.news-letter {
    color: #555;
    font-size: 0.8em;
    margin-bottom: 1em;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    clear: both;
    font-family: 'Roboto', sans-serif;
}

.checkbox11 i {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    border: 2px solid #ccc;
}

.checkbox11 input + i:after {
    content: '';
    background: url("../images/tick1.png") no-repeat 1px 2px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}

.checkbox11 input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox11 input {
    position: absolute;
    left: -9999px;
}

.checkbox11 input:checked + i:after {
    opacity: 1;
}

h3.inner-tittle.t-inner {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.7em;
    color: #333;
}

.sign-up input[type="submit"]{
    float: right;
    width:30%;
    font-size:17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding:6px 19px;
    border: 2px solid #00C6D7;
    background: #00C6D7;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.sign-up input[type="submit"]:hover{
    border: 2px solid #052963;
    background: #052963;
    color: #fff;
}

.sign-up input[type="reset"]{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 4px 19px;
    float: left;
    border: 2px solid #052963;
    background: #052963;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;          
}

.sign-up input[type="reset"]:hover{
    border: 2px solid #00C6D7;
    background: #00C6D7;
    color: #fff;
}

.sign-up {
    margin-top:0.8em;
}

.checkbox11 {
    padding-left: 27px;
    font-size: 1em;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    color: #777;
}

.checkbox11:last-child {
    margin-bottom: 0;
}

.login-register {
    margin-left: 20px;
}

.dropdown {
    bottom: 4px;
    margin-left: 20px;
}

.logout-form {
    display: none;
}

.dropdown a:hover, .dropdown-menu li a:hover {
    text-decoration: none;
}

.dropdown-menu {
    background: #303c43;
    color: #f1f1f1;
    min-width: 125px;
    left: 35px;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

/*===reset password*/
.reset-content {
    padding: 9em 0;
}

.reset-title {
    top: -38% !important;
}

.reset-top {
    margin: 8em auto !important;
}

.vali-msg {
    font-size: 15px;
}

.return-home {
    color: #777 !important;
}

.return-home:hover {
    color: #00C6D7 !important;
    text-decoration: none;
    font-weight: bold;
}

.new-pass-content {
    padding: 12em 0;
}

.new-pass-title {
    top: -25% !important;
}

.media-left > a > img {
    height: 40px;
}

.div-info {
    width: 51em;
    position: absolute;
    top: 240px;
    right: 20px;
}

span.span-info-bg {
    display: block;
    font-size: 35px;
    color: #fdfdfd;
    font-weight: bold;
    text-shadow: 2px 2px #2f2929;
    padding-bottom:  19px;
}

.div-info-bg {
    text-align:  center;
}

.div-info-bg a {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #2f2929;
    color: #fff;
}

.div-edit {
    position: absolute;
    right:  25px;
    top: 25px;
}

a.button-edit {
    display: inline-block;
    background: #FFF;
    padding: 6px;
    border-radius: 10px;
    color:  #000;
    box-shadow:   2px 2px #8c8c8c;
}

label.edit-profile {
    padding-top: 15px;
    padding-left: 10px;
}

.bg-color-gray {
    background: #ececec !important;
}

.bg-color-gray-border {
    background: #FFF;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 3em;
}

h3.title-edit-profile {
    width: 50%;
    display: inline-block;
    color: #fff;
    border-radius: 8px 0;
    text-shadow: 1px 1px 0 #444;
    padding-left: 2em;
}

.bg-color-blue {
    background: #2d93c5;
    padding: 0 20px;
    border-radius: 8px 8px 0 0;
    height: 46px;
    line-height: 46px;
}

.setting-profile > a {
    color: #fff;
    display: inline-block;
    padding: 0px 40px;
    font-size: 16px;
    margin-top:  0 !important;
    padding-top:  0 !important;
}

.setting-profile > a.actived {
    background: #10639e;
    border-radius: 8px 0;
}

.edit-password {
    display: none;
}

.bg-color-white-border {
    background: #fff;
    padding: 3em 1em;
    border-radius: 0 0 8px 8px;
}

.info-errors {
    position: fixed;
    z-index: 1000;
    min-width:  28em;
    right: 0em;
    top: 5em;
    border-radius: 8px 0 0 8px;
    text-align: center;
}
/*====coure-detai====l*/

.pageTitleSection {
    background-image: url(/templates/elearning/images/page-title-bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 75px 0;
}

.pageTitleSection .pageTitleInfo {
    text-align: center;
}
.pageTitleSection .pageTitleInfo h2 {
    font-size: 40px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 40px;
    margin: 0 0 8px 0;
    font-family: 'Dosis', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}
.pageTitleSection .pageTitleInfo .breadcrumb {
    background-color: transparent;
}
.pageTitleSection .pageTitleInfo .breadcrumb li {
    color: #fff;
    font-size: 15px;
}
.pageTitleSection .pageTitleInfo .breadcrumb li a {
    color: #fff;
    font-size: 15px;
}
.pageTitleSection .pageTitleInfo .breadcrumb>li+li::before {
    content: " \276F\00a0 "}
.homeContactContent form .btn {
    float: right;
    width: auto;
}

@media (min-width:320px) {
    .whiteSection, .mainContent, .lightSection, .colorSection {
    padding: 50px 0;
}
}@media (min-width:768px) {
    .whiteSection, .mainContent, .lightSection, .colorSection {
    padding: 100px 0;
}

}.whiteSection, .mainContent {
    background-color: #fff;
}

.teachersPhoto {
    width: 100%
}
.teachersPhoto img {
    width: 100%
}

.teachersInfo h3 {
    color: #ea7066;
    text-transform: capitalize;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 0 0 25px 0;
}
.teachersInfo p {
    margin: 0 0 25px 0;
}

.teachersInfo .list-inline li a {
    display: block;
    text-align: center;
    border-radius: 100%;
    color: #fff;
}
.teachersInfo .list-inline li a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.btn-learn {
    display: inline-block;
    padding: 11px 20px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
    background-color: #5cb85c;
    margin: 5% 25%;
    opacity: 0.9;
}
.btn-learn:hover {
    border: 1px solid transparent;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .3)!important;
    opacity: 1;
    text-decoration: none;
    color: #fff;
}

.btn-wordlist {
    opacity: 0.7;
    margin: 3% 25%;
    background-color: #0fa4e2;
}

.course-detail {
    background-color: #f1efef;
    padding-top: 5%;
}

.course-detail-content {
    margin: 3% 5% 0 5%;
}

.course-detail-left {
    border-radius: 20px;
    padding: 0;
}

.course-detail-left .course-main-content ul {
    list-style-type: none;
}

.course-detail-left .course-main-content li {
    padding: 0 1% 2% 1%;
}

.course-detail-left .course-main-content li a {
    display: block;
    padding: 10%;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
}

.course-detail-left .course-main-content li a:hover {
    text-decoration: none;
}
    
.course-detail-left .course-main-content li .lesson-title, .course-detail-left .course-main-content li .lesson-name {
    font-size: 16px;
    margin: 5px 0 5px 0;
    text-align: center;
    font-weight: bold;
}

.course-detail-left .course-main-content li .lesson-content {
    background-color: #f1f1f1;
    padding: 10% 0;
    border-radius: 20px;
}

.unlearn-icon {
    height: 70px;
    width: 60px;
    opacity: 0.3;
    margin: 14% 0 10% 31%;
}

.learn-icon {
    height: 80px;
    margin: 5% 0 10% 25%;
}

.check-icon {
    height: 30px;
    margin-left: 40%;
}

.lock {
    padding-top: 5%;
    text-align: center;
    opacity: 0.6;
    font-size: 21px;
}

.course-detail-right {
    padding: 0 0 0 1%;
}

.leaderboard {
    font-family: "Open Sans",Sans-Serif;
    background-color: #fff;
    border-radius: 20px;  
    border: 2px solid #e4e4e4;
}

.leaderboard-header {
    border-bottom: 2px solid rgba(0,0,0,0.08);
    margin: 0 10%;
    padding: 9px 0;
    text-align: center;
}

.leaderboard-header .leaderboard-icon {
    height: 60px;
    width: 60px;
}

.leaderboard-header .leaderboard-text {
    font-size: 23px;
    margin-top: 2%;
    color: #62ceef;
    font-weight: bold;
}

.leaderboard-content {
    background-color: #eee;
    margin-top: 7%;
}

.leaderboard-content ul li {
    height: 50px;
    border-bottom: 1px solid #dcd7d7;
    padding: 3% 3%;
}

.leaderboard-content ul li:last-child {
    border-bottom: none;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: none;
    font-size: 18px;
    text-align: center;
    padding-top: 5%;
}

.leaderboard-content ul li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.leaderboard-content ul li a {
    color: #333;
    display: block;
}

.leaderboard-content ul li:last-child a {
    color: #618198 !important;
}

.leaderboard-content ul li:last-child a:hover {
    text-decoration: none;
}

.leaderboard-content .rank-icon {
    height: 35px;
    width: 35px;
    margin-right: 2%;
}

.leaderboard-content .rank-position {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.leaderboard-content .avatar-leader {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 2%;
}

.leaderboard-content .user-leader {
    display: inline-block;
    width: 70px;
    text-align: left;
}

.leaderboard-content .score-leader {
    color: red;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    width: 50px;
}

.my-leader {
    background-color: #4dc3ff;
}

.my-leader:hover {
    background-color: #0099e6 !important;
}

.progress-content {
    background-color: #fff;
    border-radius: 20px;
    margin: 0 3% 3% 3%;
    padding: 1% 5%;
    border: 1px solid #e4e4e4;
}

.progress-content div {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.progress-course {
    border: 1px solid #cec7c7;
    border-radius: 8px;
    height: 20px;
    margin-bottom: 2% !important;
}

.progress-bar-course {
    background-color: #8dd232;
    border-radius: 8px;
    color: #8a8787 !important;
    font-size: 15px;
    line-height: 20px;
}

.btn-progress {
    text-align: right;
}

.btn-progress a {
    margin: 0 0.5%;
}

.btn-option {
    background-color: #f3f3f3;
    color: #666;
    text-shadow: 0;
    text-align: center;
}

.btn-option .option-icon {
    font-size: 18px;
    margin-right: 5px;
}

.progress-course-content .option-menu {
    width: 160px;
    padding: 0;
    left: 4.5%;
    background-color: #fff;
}

.progress-wordlist-content .option-menu {
    width: 160px;
    padding: 0;
    left: 3%;
    background-color: #fff;
}

.option-menu .option-icon {
    font-size: 17px;
    margin-right: 7px;
    margin-left: 15%;
}

.option-menu li {
    font-size: 16px;
}

.option-menu li a {
    height: 35px;
    line-height: 30px;
    opacity: 0.8;
}

.option-menu li a:hover {
    color: #fff;
    opacity: 1;
    background-color: #888585;
}

.progress-wordlist-content .review-menu {
    padding: 0;
    width: 160px;
    left: 45.2%;
    background-color: #fff;
}

.lesson-center-main .review-menu {
    padding: 0;
    width: 160px;
    left: 27.8%;
    background-color: #fff;
}

.progress-course-content .review-menu {
    padding: 0;
    width: 160px;
    left: 26.5%;
    background-color: #fff;
}

.review-menu li {
    text-align: left;
    font-size: 17px;
    opacity: 0.8;
}

.review-menu li a:hover {
    margin: 0;
    color: #fff;
    opacity: 1;
    background-color: #888585;
}

.review-menu li a {
    height: 35px;
    line-height: 30px;  
}

/*===word-list*/
.color-1-bold {
    color: #f9bf2a !important;
}

.color-2-bold {
    color: #6e57da !important;
}

.color-3-bold {
    color: #fb53a2 !important;
}

.color-4-bold {
    color: #0fa4e2 !important;
}

.tabCommon .nav {
    border-bottom: none;
    text-align: center;
}
.tabCommon .nav li {
    display: inline-block;
    float: none;
}
@media (min-width:320px) {
    .tabCommon .nav li {
    padding: 6px 2px;
}
}@media (min-width:768px) {
    .tabCommon .nav li {
    padding: 0 2px;
    }
}
.tabCommon .nav li a {
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
    background-color: #f8f8f8;
    border-radius: 4px;
}

.tabCommon .nav li select {
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #fffefe;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    border: none; 
    background-color: #ea7066;
    width: 200px;
}

.tabCommon .nav li select option {
    background-color: #fff;
    color: #333;
}

.tabCommon .nav li.active a {
    background-color: #ea7066;
    color: #fffefe;
}

.tabCommon .tab-content {
    padding-top: 50px;
}

.tabCommon .tab-pane {
    border: 3px solid rgba(234, 112, 102, .3);
    border-radius: 8px;
}
@media (min-width:320px) {
    .tabCommon .media-left {
    display: block;
    float: left;
    width: 100%;
    padding-right: 0;
}
}@media (min-width:768px) {
    .tabCommon .media-left {
    display: block;
    float: left;
    width: 100%;
    padding-right: 0;
}
}@media (min-width:992px) {
    .tabCommon .media-left {
    display: inline-block;
    float: left;
    width: auto;
    padding-right: 10px;
}
}.tabCommon .media-left img {
    width: 100%}
@media (min-width:320px) {
    .tabCommon .media-body {
    padding: 30px;
}
}@media (min-width:768px) {
    .tabCommon .media-body {
    padding: 30px;
}
}@media (min-width:992px) {
    .tabCommon .media-body {
    padding: 30px;
}
}@media (min-width:1200px) {
    .tabCommon .media-body {
    padding: 50px 30px 0 0;
}
}.tabCommon .media-body .media-heading {
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    color: #ea7066;
    margin: 0 0 25px 0;
    text-transform: capitalize;
}
.tabCommon .media-body p {
    color: #222;
    margin-bottom: 30px;
}
.tabCommon.tabLeft .nav {
    padding-right: 10px;
}
@media (min-width:320px) {
    .tabCommon.tabLeft .nav {
    display: block;
}
}@media (min-width:768px) {
    .tabCommon.tabLeft .nav {
    display: table-cell;
}
}.tabCommon.tabLeft .nav li {
    display: block;
    padding: 0 0 10px 0;
}
.tabCommon.tabLeft .nav li.active a {
    position: relative;
}
.tabCommon.tabLeft .nav li.active a:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ea7066;
    position: absolute;
    right: -9px;
    top: 10px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}
.tabCommon.tabLeft .tab-content {
    display: table-cell;
    padding: 0;
}

.filter-wordlist {
    margin: 3% 0 1% 0;
}

.progress-wordlist {
    margin: 0 3% 2% 3%;
}

.wordlist-content {
    background-color: #fff;
    border-radius: 20px;
    margin: 0 3%;
    border: 1px solid #e4e4e4;
}

.wordlist-content ul {
    border-radius: 20px;
}

.wordlist-content ul li {
    border-bottom: 1px solid #e4e4e4;
    padding: 1% 4%;
    text-align: left;
    font-size: 16px;
}

.wordlist-content ul li div {
    padding: 0;
    color: #333;
}

.wordlist-content ul li div .check-icon {
    height: 24px;
    margin-left: 36.5%;
} 

.wordlist-content ul li:first-child {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #e4e4e4;
    margin-top: 2%; 
    padding: 0 4% 2% 4%;
    background-color: #fff;
}

.wordlist-content ul li:last-child {
    border-bottom: none;
}

.row {
    margin: 0;
}

.wrapper-test {
    background: #e9e9e9;
    padding: 2em 14em;
    min-height: 80vh;
}
.content-test {
    padding: 0em 2em;
}
.content-test > h2 {
    font-weight: bold;
    color: #2b2828;
    font-family: Times-new-Roman;
    font-size: 32px;
}
.choose-answer-test , .choose-answer-practice {
    list-style-type: none;
    width: 90%;
    margin: 2%;
    display: block;
    color: #1f1d1d;
    line-height: 40px;
    background: #ffffff;
    font-size: 18px;
    border: 2px solid #909090;
    padding: 0 2em;
    border-radius: 20px;
    text-decoration: none;
    min-height: 2em;
}
.answer-test {
    margin-top: 4em;
}
.choose-answer-test > span .choose-answer-practice > span {
    display: block;
}
.choose-answer-test:hover, .choose-answer-practice:hover {
    color: #3399ff;
    border: 2px solid #3399ff;
    text-decoration: none;
}
.correct {
    color: #65ab00 !important;
    border: 2px solid #65ab00 !important;
}

.wrong {
    color: #cc0000 !important;
    border: 2px solid #cc0000 !important;
}

.wrapper-action-test {
    background: #d2d2d2;
    height: 20vh;
    margin: 0 !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.wrapper-action-test .action-test {
    text-align: center;
    margin-top: 40px;
}
.wrapper-action-test .action-test > a {
    display: inline-block;
    line-height: 40px;
    width: 30%;
    border: 2px solid #7a7a7b;
    border-radius: 2em;
    color: #7a7a7b;
    font-size: 18px;
    font-weight: bold;
}

/*.active {
    background: #7a7a7b;
    border: 2px solid #333;

}*/

.wrapper-action-test .action-test > a:hover {
    border: 2px solid #52b37c;
    color: #52b37c;
    text-decoration: none;
}
.screen-start {
    background: #7d7d7df2;
    width:  100%;
    height: 100vh;
    position: fixed !important;
    z-index: 10000;
}

a.btn-start {
    display: block;
    width: 150px;
    height: 50px;
    background: #145584;
    line-height: 50px;
    font-size: 20px;
    text-align:  center;
    color:  #fff;
    border-radius: 25px;
    position:  absolute;
    top: 45%;
    left: 45%;
}

.action-img .right-wrong-img {
    height: 100px;
}

.action-img {
    line-height: 9em;
    padding-left: 8em;
}

.action-show {
    display: none;
}

#right-answer span {
    font-size: 22px;
    font-weight: bold;
    color: #65ab04;
    padding-left: 20px;
    font-style: italic;
}

#wrong-answer span {
    font-size: 22px;
    font-weight: bold;
    color: #e8422f;
    padding-left: 20px;
    font-style: italic;
}

.progress-bar-test {
    padding: 1% 12%;
    background: #d2d2d2;
    min-height: 100px;
}

.progress-bar-test .exit-learning {
    height: 50px;
    margin-left: 50%;
    font-size: 25px;
    line-height: 25px;
    background-color: #f0624b;
}

.progress-test {
    margin-top: 2%;
    padding: 0;
}

h2.title-end-test {
    text-align: center;
    font-size: 40px;
    color: #515054;
    margin-bottom: 45px;
    margin-top: 45px;
}

h4.score-end-test {font-family: Times-new-Roman;
    font-size: 35px;
    text-align:  center;
    text-transform: capitalize;
    color: #545454;
}

.pass-test {
    font-family: Times-new-Roman;
    font-size: 40px;
    color: #50901f;
    text-align: center;
}

.not-pass-test {
    font-family: Times-new-Roman;
    font-size: 40px;
    color: #e8422f;
    text-align: center;
}

.whiteDiv {
    background: #fff;
}

.whiteSection_Div {
    background: #fff;
    margin-bottom: 150px !important;
}

.btn-start-learning {
    position: absolute;
    height: 200px;
    top: 16em;
    left: 30em;
    z-index: 10000;
}
.btn-start-learning > a.btn-success {
    opacity: 0.5;
}

.bg-img-userfollow {
    background: url('../images/pattern-light.png');
}

.content-search {
    width: 450px;
    position: absolute;
    top: 38px;
    margin-left: -45px;
    border-radius: 10px;
}

img.img-item-search {
    height: 60px;
    width: 100px;
}

.bg-color-search {
    background: #2f3c43;
}

.item-search {
    padding: 0px !important;
    margin: 0px !important;
}

h3.h3-item-search {
    margin: 5px;
}

.detail-item-search >  a {
    color: #333;
    padding: 5px 10px;
}

p.information-search {
    padding-left: 10px;
    margin: 0;
}
.row-search {
    border-radius: 10px;
    background: #f5f8fa;
    border-bottom: 5px solid #2f3c43;
    border-left: 5px solid #2f3c43;
    border-right: 5px solid #2f3c43;

}

.row-search:hover {
    background: #44a3a2;
}

h3.h3-item-search {
    font-size: 22px;
    color: #333;
}

/*===lesson-detail===*/

.lesson-detail {
    overflow: hidden;
    background-color: #f1efef;
}

.lesson-content {
    margin: 5% 2% 0 2%;
}

.lesson-content .btn-lesson {
    display: block;
    height: 100px;
    background-color: #fff;
    padding: 0 1%;
    border-radius: 20px;
    margin-top: 40%;
    text-align: center;
    font-size: 20px;
    padding: 22% 0;
    color: #666;
    cursor: pointer;
    border: 1px solid #e4e4e4;
}

.lesson-content .btn-lesson:hover {
    color: #666;
}


.lesson-content .activeLessonBtn {
    pointer-events: none;
    opacity: 0.5;
}

.lesson-content .lesson-center-content {
    background-color: #fff;
    padding: 0 1%;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
}

.lesson-center-content .lesson-img {
    margin: 4% 0;
}

.lesson-center-content .lesson-img div {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.lesson-center-content .lesson-img .learn-icon-lesson {
    height: 150px;
    padding: 2%;
    width: 150px;
    margin-left: 8%;
}

.lesson-center-content .lesson-img .unlearn-icon-lesson {
    height: 150px;
    padding: 2%;
    margin-left: 11%;
    width: 140px;
    opacity: 0.3;
}

.lesson-center-content .lesson-img .check-icon-lesson {
    height: 35px;
    width: 35px;
    margin-left: 38.5%;
}

.lesson-center-content .lesson-img .lock-icon-lesson {
    font-size: 30px;
    opacity: 0.6;
}

.lesson-center-main {
    padding: 0 2% 0 0;
    margin: 4% 0;
} 

.lesson-center-main a {
    margin: 0;
    margin-left: 2%;
}

/*===learning====*/

.learning-wrap, .learning-container {
    background-color: #f1efef;
}

.learning-header {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #d0e8b0;
    top: 0;
}

.learning-header .progress-learning {
    margin: 2% 0 0 0;
    padding: 0;
}

.learning-header .exit-learning {
    height: 50px;
    margin-left: 50%;
    font-size: 25px;
    line-height: 25px;
    background-color: #f0624b;
}

.learning-content {
    padding: 5% 20% 50% 20%;
    height: 80%;
}

.learning-content .learning-word {
    margin-bottom: 2.5%;
}

.learning-content .learning-word:first-child {
    margin-bottom: 5%;
}

.learning-content .learning-title{
    font-size: 16px;
    color: #666;
    margin: 2% 0;
}

.learning-content .learning-word-content {
    font-family: Times-new-Roman;
    font-size: 90px;
    color: #333;
    font-weight: bold;
    margin-top: 13px;
    padding-left: 50px;
}

.learning-content .listen-word {
    height: 40px;
    font-size: 40px;
    margin-left: 4%;
    margin-bottom: 4%;
    text-align: left;
    display: inline-block;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
}

.learning-content .listen-word > i {
    position: absolute;
    bottom: 0;
}

.learning-content .listen-word:hover {
    opacity: 0.8;
}

.learning-content .learning-pronunciation-content {
    margin-top: 24px;
    font-size: 50px;
    padding-left: 50px;
    color: #333;
}

.learning-content .learning-explain-content {
    margin-top: 15px;
    font-size: 30px;
    padding-left: 50px;
    line-height: 25px;
    color: #333;  
    font-family: Times-new-Roman;  
}

.learning-footer {
    width: 100%;
    margin: 0;
    height: 100px;
    background-color: #d0e8b0;
    position: fixed;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.action-test {
    text-align: center;
}

.action-test a {
    display: inline-block;
    line-height: 40px;
    width: 30%;
    border: 2px solid #7a7a7b;
    border-radius: 2em;
    color: #7a7a7b;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.8;
}

.action-test a:hover {
    opacity: 1;
}

.learning-container {
    overflow: hidden;
}

.btn-learning-next {
    margin-top: 1%;
}

.btn-learning-next a {
    color: #fff;
    border: 2px solid #539a2f;
    background-color: #8dd232;
}

.endlearning-header {
    height: 100px;
}

.endlearning-title {
    text-align: center;
}

.endlearning-totalword, .endlearning-message {
    font-family: Times-new-Roman;
    font-size: 40px;
    color: #545454;
    text-align: center;
    padding: 3%;
}

.bonus-point {
    font-family: Times-new-Roman;
    font-size: 35px;
    color: #f30808;
    text-align: center;
    padding: 3%;
}

.custom-time {
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.custom-linkSection {
    width: 80%;
    margin: -100px auto;
}

.bx-pager {
    display: none !important;
}

.bg-index-fixed {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
}

.top-user a.a-top-user {
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0
}

h2.title-follow-user {
    color: #fff;
}

.user-rank {
    padding: 0 !important;
    line-height: 30px;
}

.margin-bottom-50 {
    margin-bottom: 100px;
}

.pd-page-top {
    padding: 50px 0px 0px 0px; 
}

.pd-page-top-100 {
    padding: 100px 0px 0px 0px; 
}

.title-course-slider {
    color: #FFF !important;
}

.img-course-slider {
    background: #44a3a2;
}

.bg-index {
    background: #f1efef !important;
}

.listent-audio {
    display: none;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.displaynone {
    display: none;
}

.ourcourses {
    position: relative;
}
.show-more {
    position: absolute;
    bottom: 5px;
    right: 30px;
    color: #333;
}

.btn-user-follow-li {
    position: absolute;
    bottom: -25px;
    right: 30px;
    color: #333;
    padding-bottom: 10px;
}

.user-follow {
    position: relative;
    padding-bottom: 20px;
}

.show-more-follow {
    color: #333;
}

ul.result-practice {
    margin:  0 auto;
    display:  block;
    width: 40%;
}

.result-practice li {
    font-size: 20px;
    line-height: 30px;
    color: #02350b;
    font-family:  arial !important;
}

.color-green {
    color: #1e8208 !important;
    font-family: Times-new-Roman !important;
    font-size: 45px !important;
}

.result-practice > li > i {
    padding: 5px !important;
    width: 36px !important;
    color: #696969 !important;
}

.info-word-point {
    font-weight: bold;
    color: #555;
    font-size: 18px; 
    line-height: 23px;   
}

.info-word-point span {
    margin-left: 10px;
    margin-bottom: 10px;
}
